<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"><h2>Welcome! Here is a little about us.</h2></div>
    <div class="col-md-2"></div>
</div>

<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><p>My name is Bradley Borget, and I am building this site to help people like you get their magic cards at a reasonable price.  You are probably thinking that you could just get them from a place like StarCityGames or TCGPlayer for a smaller price. And at that, you are correct.  But nowhere else will you find a place that is as friendly as we are, and as great as we are at finding you the cards that you will be pleased with.  So please, look around and enjoy yourself!</p></div>
        <div class="col-md-2"></div>
    </div>

<div class="row">
    <div class="col-md-4"><img src="assets/upr86954_1.jpg"></div>
    <div class="col-md-4"><img src="assets/upr86954_1.jpg"></div>
    <div class="col-md-4"><img src="assets/upr86954_1.jpg"></div>
</div>
